//@import "compass/reset";
@import "compass/css3"; //@import "compass/css3/box-shadow"
@import "mixins";


body {
	//font: 100%/1.5em 'PT Sans', sans-serif; /* 16px/24px */ 
	//color: #959595;
}

 

.wrapper {
	background-image: url('../img/bg2.png');
	//background-color: #ececec;
	padding: 20px 0;
	min-width: 320px;

	.container {
		background-color: #fff;
		padding: 10px 20px 20px 20px;
		position: relative;
		@include border-radius(10px);
		@include box-shadow(rgba(black, 0.4) 2px 2px 10px);
	}
}


.options-size {
	//margin: 0 40px;
	padding-right: 40px;

	&__list { //dl

		margin-top: 10px;
		//margin-bottom: 35px;

		dt, dd {
			line-height: 54px; //34,35
			@include respond-to(small) {
				line-height: 34px;
			}
		}
		//dd
		&-input {
			//width: 210px; 
			height: 30px;
			margin-top: 11px;
			@include respond-to(small) {
				margin-top: 0;
			}
		}
	}
}
.options-color {
	//margin: 0 40px;
	padding-bottom: 80px;

	&__list { //dl

		margin-top: 10px;
		//margin-bottom: 35px;

		dt { //dd
			line-height: 54px; //34,35
			@include respond-to(small) {
				line-height: 34px;
			}
		}
		dt {
			@include respond-to(large) {
				width: auto;
			}
		}
		dd {
			@include respond-to(large) {
				margin-left: 150px; //180
			}
		}
		//dd
		&-input {
			width: 62px; 
			height: 30px;
			margin-top: 11px;
			@include respond-to(small) {
				margin-top: 0;
			}
		}

	}
}
.options-color__title, 
.options-size__title {
	margin: 0;
	font-size: 14px;
}

.result-btn {
	text-align: center;
	//margin: 0 20px;

	&__title {
		margin-top: -28px;
	}

	.result-btn__button { //#btn
		margin-top: 90px;
		margin-bottom: 90px;
		border-color: #d2d2d2;
		@include respond-to(large) {
			margin-bottom: 0;
		}
	}

}

.result-form {
	margin-left: -18px;
	margin-top: 30px;

	&__textarea {
		display: inline-block;
		width: 280px; //220
		overflow-x: hidden;
		margin: 0 9px;
		resize: none; //vertical;
	}

	&__input {
		width: 220px;
		height: 30px;
		margin: 0 auto;
		margin-top: 18px;
	}

	&__submit {
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		@include border-radius(17px);
	}
}




h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
.delimiter {
	@include respond-to(large) {
		position: absolute;
		top: 5px;
		right: -5px;
		width: 5px;
		height: 95%;
		background: url(../img/delimiter.png) repeat-y;
	};
}
.row--first {
	border-bottom: 1px dashed #a1a1a1;
	
}
.row {
	margin: 0;
}

//slider
.ui-slider-horizontal {
	//background: url(../img/ui-line.png) repeat-x;
	background-color: #808080;
	background-image: none;

	margin-top: 21px; //11
	@include respond-to(small) {
		margin-top: 0;
	}
}

.ui-slider-horizontal .ui-slider-range { 
	background: #3391d3; 
}

.ui-slider-horizontal .ui-slider-handle {
	// background: url(../img/ui-cir2.png) no-repeat;
	// width: 25px;
	// height: 25px;
	// top: -6px;
	// outline: none !important;
		//border-color: #ef2929; 
	background-image: url(../img/slider-handler.png);
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	height: 25px;
	width: 23px;
	top: -0.5em;
}
